<ion-view view-title="Clientes">
    <ion-content>
        <div class="list">

            <a class="item item-thumbnail center" href="#">
                <img src="img/alfa.png">
            </a>

            <a class="item item-thumbnail center" href="#">
                <img src="img/b.png">
            </a>

            <a class="item item-thumbnail center" href="#">
                <img src="img/comex.png">
            </a>

            <a class="item item-thumbnail center" href="#">
                <img src="img/duda.png">
            </a>

            <a class="item item-thumbnail center" href="#">
                <img src="img/elienai.png">
            </a>

            <a class="item item-thumbnail center" href="#">
                <img src="img/fal.png">
            </a>

            <a class="item item-thumbnail center" href="#">
                <img src="img/Fiern.png">
            </a>

            <a class="item item-thumbnail center" href="#">
                <img src="img/messias.png">
            </a>

            <a class="item item-thumbnail center" href="#">
                <img src="img/patu.png">
            </a>

            <a class="item item-thumbnail center" href="#">
                <img src="img/pndb.png">
            </a>

            <a class="item item-thumbnail center" href="#">
                <img src="img/potiguar-noticias.png">
            </a>

            <a class="item item-thumbnail center" href="#">
                <img src="img/tabol.png">
            </a>

            <a class="item item-thumbnail center" href="#">
                <img src="img/Walter-alves.png">
            </a>

    </ion-content>
</ion-view>
