<ion-view view-title="Contato">
    <ion-content>
        <div class="list texto">
            <label class="item item-input">
                <input type="text" placeholder="Primeiro Nome">
            </label>
            <label class="item item-input">
                <input type="email" placeholder="E-mail">
            </label>
            <label class="item item-input">
                <textarea placeholder="Comments"></textarea>
            </label>

            <button class="button button-block texto botao-azul">
                Enviar Mensagem
            </button>
        </div>
    </ion-content>
</ion-view>
