<ion-view view-title="O que Fazemos">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap azul">
                Desenvolver soluções ótimas para organizações públicas e privadas nos segmentos de marketing, pesquisa,
                planejamento, viabilidade e gestão com efetividade, através da expertise e know-how.
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap azul">
                Para cumprir a missão, a Focos Marketing utiliza os serviços de professores consultores formados nas
                melhores universidades especialistas do país, otimizando seu tempo na busca de soluções eficientes,
                efetivas
                e eficazes para sua organização.
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap azul">
                Com consultores atuando no mercado e academia há mais de 10 anos, a Focos Marketing vem se notabilizando
                pelos resultados alcançados nas áreas que atua.
            </div>
        </div>

    </ion-content>
</ion-view>
