<ion-view view-title="Quem Somos">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap azul">
                Ter um produto diferente, inovador, não basta para assegurar o eterno sucesso e a perenidade de sua empresa.
                É necessário avançar com os pés no chão e dentro da realidade na qual a sua empresa está atuando. A
                prudência e a administração profissional recomenda que se desenvolva um plano de marketing que possa dirigir
                os esforços da empresa - financeiros, mercadológicos, de pessoal e de produção - de forma racional e que
                possa alcançar os objetivos propostos.
            </div>
        </div>


        <div class="card">
            <div class="item item-text-wrap azul">
                A chave do sucesso de uma empresa está na perfeita combinação entre a sua eficácia e seu crescimento. Não
                existem regras não existe mágica, existem sim, técnicas, modelos, ferramentas e experiências. Para que isto
                aconteça é necessário planejar pressupondo a ocorrência de um processo decisório que ocorrerá antes, durante
                e depois de sua elaboração e implementação na empresa. Este processo cujos componentes individuais e
                organizacionais devem ser orientados para garantir certa influência de interesses dos diversos fatores
                alocados no ambiente empresarial. O processo de planejar envolve, portanto, um modo de pensar; e um salutar
                modo de pensar envolve indagações; e indagações envolvem questionamentos sobre o que fazer, como, quando,
                para quem, por que, por quem e onde.
            </div>
        </div>




    </ion-content>
</ion-view>
