/* Empty. Add your own CSS if you like */
.azul{
    text-align: justify;
}
.botao-azul{
    background-color: #003E65;
    color: white;
    text-align: center;
}
.center{
    text-align: center;
}
.afastar{
    margin-top: 50px;
}
.dec:link{
    text-decoration: none;
    color: #5A5A5A;
}
.dec:visited{
    text-decoration: none;
    color: #5A5A5A;
}
.dec:focus{
    text-decoration: none;
    color: #5A5A5A;
}
.button:hover{
    text-decoration: none;
    color: #5A5A5A;
}
.dec:active{
    text-decoration: none;
    color: #5A5A5A;
}
.ion-arrow-right-b{
    font-size: 25px;
}
.ion-home{
    font-size: 25px;
}
.ion-email{
    font-size: 25px;
}
.ion-briefcase{
    font-size: 25px;
}
.ion-checkmark-round{
    font-size: 25px;
}
.ion-clipboard{
    font-size: 25px;
}
.title{
    font-size: 25px;
}
